{{#yaml}}
specVersion: 0.0.2
description: Synthetix API
repository: https://github.com/Synthetixio/synthetix-subgraph
schema:
  file: ./synthetix.graphql
dataSources:
  - kind: ethereum/contract
    name: ExchangeRates
    network: {{network}}
    source:
      address: '{{ExchangeRates}}'
      abi: ExchangeRates
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      file: ./src/mapping.ts
      entities:
        - RatesUpdated
      abis:
        - name: ExchangeRates
          file: ./abis/ExchangeRates.json
      eventHandlers:
        - event: RatesUpdated(bytes32[],uint256[])
          handler: handleRatesUpdated

  {{#chainlinkData}}
  - kind: ethereum/contract
    name: {{&name}}
    network: {{network}}
    source:
      address: '{{address}}'
      abi: {{abi}}
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      file: {{&mappingFile}}
      entities:
        {{#entities}}
        - {{.}}
        {{/entities}}
      abis:
        {{#abis}}
        - name: {{name}}
          file: {{&path}}
        {{/abis}}
      eventHandlers:
        {{#events}}
        - event: {{event}}
          handler: {{handler}}
        {{/events}}

  {{/chainlinkData}}