{{#yaml}}
specVersion: 0.0.2
description: Synthetix API
repository: https://github.com/Synthetixio/synthetix-subgraph
schema:
  file: ./synthetix.graphql
dataSources:
  - kind: ethereum/contract
    name: Synthetix
    network: {{network}}
    source:
      address: {{Synthetix}}
      abi: Synthetix
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      file: ./src/mapping.ts
      entities:
        - SNXTransfer
        - SNXHolder
        - Synthetix
        - ExchangePartner
        - DailyExchangePartner
        - SynthExchange
        - ExchangeReclaim
        - ExchangeRebate
      abis:
        - name: Synthetix
          file: ./abis/Synthetix.json
        - name: AddressResolver
          file: ./abis/AddressResolver.json
        - name: SynthetixState
          file: ./abis/SynthetixState.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransferSNX
        - event: ExchangeTracking(indexed bytes32,bytes32,uint256)
          handler: handleExchangeTracking
        - event: SynthExchange(indexed address,bytes32,uint256,bytes32,uint256,address)
          handler: handleSynthExchange
        - event: ExchangeReclaim(indexed address,bytes32,uint256)
          handler: handleExchangeReclaim
        - event: ExchangeRebate(indexed address,bytes32,uint256)
          handler: handleExchangeRebate
  {{/yaml}}