{{#yaml}}
specVersion: 0.0.2
description: Synthetix API
repository: https://github.com/Synthetixio/synthetix-subgraph
schema:
  file: ./synthetix.graphql
dataSources:
  - kind: ethereum/contract
    name: Synthetix
    network: {{network}}
    source:
      address: {{Synthetix}}
      abi: Synthetix
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      file: ./src/mapping.ts
      entities:
        - SNXTransfer
        - SNXHolder
        - Synthetix
        - ExchangePartner
        - DailyExchangePartner
        - SynthExchange
        - ExchangeReclaim
        - ExchangeRebate
      abis:
        - name: Synthetix
          file: ./abis/Synthetix.json
        - name: AddressResolver
          file: ./abis/AddressResolver.json
        - name: SynthetixState
          file: ./abis/SynthetixState.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransferSNX
        - event: ExchangeTracking(indexed bytes32,bytes32,uint256)
          handler: handleExchangeTracking
        - event: SynthExchange(indexed address,bytes32,uint256,bytes32,uint256,address)
          handler: handleSynthExchange
        - event: ExchangeReclaim(indexed address,bytes32,uint256)
          handler: handleExchangeReclaim
        - event: ExchangeRebate(indexed address,bytes32,uint256)
          handler: handleExchangeRebate
  {{/yaml}}

#   - kind: ethereum/contract
#     name: SynthsUSD_proxy
#     network: {{network}}
#     source:
#       address: {{SynthsUSD_proxy}} # ProxyERC20sUSD
#       abi: Synth
#       startBlock: {{startBlock}}
#     mapping:
#       kind: ethereum/events
#       apiVersion: 0.0.4
#       language: wasm/assemblyscript
#       file: ./src/mapping.ts
#       entities:
#         - Issued
#         - Burned
#         - ActiveStaker
#         - TotalActiveStaker
#         - TotalDailyActiveStaker
#         - Synthetix
#         - SNXHolder
#         - DebtSnapshot
#       abis:
#         - name: Synth
#           file: ./abis/Synth.json
#         - name: Synthetix
#           file: ./abis/Synthetix.json
#         - name: AddressResolver
#           file: ./abis/AddressResolver.json
#         - name: SynthetixState
#           file: ./abis/SynthetixState.json
#         - name: ExchangeRates
#           file: ./abis/ExchangeRates.json
#       eventHandlers:
#         - event: Issued(indexed address,uint256)
#           handler: handleIssuedSynths
#         - event: Burned(indexed address,uint256)
#           handler: handleBurnedSynths

#   - kind: ethereum/contract
#     name: RewardEscrow
#     network: {{network}}
#     source:
#       address: {{RewardEscrow}} # RewardEscrow
#       abi: RewardEscrow
#       startBlock: {{startBlock}}
#     mapping:
#       kind: ethereum/events
#       apiVersion: 0.0.4
#       language: wasm/assemblyscript
#       file: ./src/mapping.ts
#       entities:
#         - RewardEscrowHolder
#         - SNXHolder
#         - Synthetix
#       abis:
#         - name: RewardEscrow
#           file: ./abis/RewardEscrow.json
#         - name: Synthetix
#           file: ./abis/Synthetix.json
#         - name: AddressResolver
#           file: ./abis/AddressResolver.json
#         - name: SynthetixState
#           file: ./abis/SynthetixState.json
#       eventHandlers:
#         - event: VestingEntryCreated(indexed address,uint256,uint256)
#           handler: handleRewardVestEvent
#         - event: Vested(indexed address,uint256,uint256)
#           handler: handleRewardVestEvent

#   - kind: ethereum/contract
#     name: RewardEscrowV2
#     network: {{network}}
#     source:
#       address: {{&RewardEscrowV2}} # RewardEscrowV2
#       abi: RewardEscrowV2
#       startBlock: {{startBlock}}
#     mapping:
#       kind: ethereum/events
#       apiVersion: 0.0.4
#       language: wasm/assemblyscript
#       file: ./src/mapping.ts
#       entities:
#         - RewardEscrowHolder
#         - SNXHolder
#         - Synthetix
#       abis:
#         - name: RewardEscrowV2
#           file: ./abis/RewardEscrowV2.json
#         - name: Synthetix
#           file: ./abis/Synthetix.json
#         - name: AddressResolver
#           file: ./abis/AddressResolver.json
#         - name: SynthetixState
#           file: ./abis/SynthetixState.json
#       eventHandlers:
#         - event: VestingEntryCreated(indexed address,uint256,uint256,uint256,uint256)
#           handler: handleRewardVestingEventCreatedV2
#         - event: Vested(indexed address,uint256,uint256)
#           handler: handleRewardVestEventV2

#   # Handle FeePool FeesClaimed
#   - kind: ethereum/contract
#     name: FeePool
#     network: {{network}}
#     source:
#       address: {{FeePool}} # ProxyFeePool
#       abi: FeePool
#       startBlock: {{startBlock}}
#     mapping:
#       kind: ethereum/events
#       apiVersion: 0.0.4
#       language: wasm/assemblyscript
#       file: ./src/mapping.ts
#       entities:
#         - FeesClaimed
#         - SNXHolder
#       abis:
#         - name: FeePool
#           file: ./abis/FeePool.json
#       eventHandlers:
#         - event: FeesClaimed(address,uint256,uint256)
#           handler: handleFeesClaimed

#   - kind: ethereum/contract
#     name: Exchanger
#     network: {{network}}
#     source:
#       address: {{&Exchanger}}
#       abi: Exchanger
#       startBlock: {{startBlock}}
#     mapping:
#       kind: ethereum/events
#       apiVersion: 0.0.4
#       language: wasm/assemblyscript
#       file: ./src/mapping.ts
#       entities:
#         - ExchangeEntrySettled
#         - ExchangeEntryAppended
#       abis:
#         - name: Exchanger
#           file: ./abis/Exchanger.json
#       eventHandlers:
#         - event: ExchangeEntrySettled(indexed address,bytes32,uint256,bytes32,uint256,uint256,uint256,uint256,uint256)
#           handler: handleExchangeEntrySettled
#         - event: ExchangeEntryAppended(indexed address,bytes32,uint256,bytes32,uint256,uint256,uint256,uint256)
#           handler: handleExchangeEntryAppended

#   {{#ExchangerV2}}
#   # NOTE there is a second exchanger contract on the kovan-ovm network but only one on the mainnet-ovm network
#   - kind: ethereum/contract
#     name: ExchangerV2
#     network: {{network}}
#     source:
#       address: {{&ExchangerV2}}
#       abi: Exchanger
#       startBlock: {{startBlock}}
#     mapping:
#       kind: ethereum/events
#       apiVersion: 0.0.4
#       language: wasm/assemblyscript
#       file: ./src/mapping.ts
#       entities:
#         - ExchangeEntrySettled
#         - ExchangeEntryAppended
#       abis:
#         - name: Exchanger
#           file: ./abis/Exchanger.json
#       eventHandlers:
#         - event: ExchangeEntrySettled(indexed address,bytes32,uint256,bytes32,uint256,uint256,uint256,uint256,uint256)
#           handler: handleExchangeEntrySettled
#         - event: ExchangeEntryAppended(indexed address,bytes32,uint256,bytes32,uint256,uint256,uint256,uint256)
#           handler: handleExchangeEntryAppended
#   {{/ExchangerV2}}

#   - kind: ethereum/contract
#     name: ExchangeRates
#     network: {{network}}
#     source:
#       address: {{&ExchangeRates}}
#       abi: ExchangeRates
#       startBlock: {{startBlock}}
#     mapping:
#       kind: ethereum/events
#       apiVersion: 0.0.4
#       language: wasm/assemblyscript
#       file: ./src/mapping.ts
#       entities:
#         - RatesUpdated
#       abis:
#         - name: ExchangeRates
#           file: ./abis/ExchangeRates.json
#       eventHandlers:
#         - event: RatesUpdated(bytes32[],uint256[])
#           handler: handleRatesUpdated
          
#   # {{#chainlinkData}}
#   # - kind: ethereum/contract
#   #   name: {{name}}
#   #   network: {{network}}
#   #   source:
#   #     address: {{&address}}
#   #     abi: {{abi}}
#   #     startBlock: {{startBlock}}
#   #   mapping:
#   #     kind: ethereum/events
#   #     apiVersion: 0.0.4
#   #     language: wasm/assemblyscript
#   #     file: {{&mappingFile}}
#   #     entities:
#   #       {{#entities}}
#   #       - {{.}}
#   #       {{/entities}}
#   #     abis:
#   #       {{#abis}}
#   #       - name: {{name}}
#   #         file: {{&path}}
#   #       {{/abis}}
#   #     eventHandlers:
#   #       {{#events}}
#   #       - event: {{event}}
#   #         handler: {{handler}}
#   #       {{/events}}
#   # {{/chainlinkData}}
# {{/yaml}}
